.note-popover {
    position: absolute;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}

.note-popover > .popover-arrow {
    display: none;
}

.note-editable > table {
    border-collapse: collapse;
}